<% flash.each do |type, message| %>
  <% bg_color = (type == "alert") ? "bg-red-500" : "bg-black" %>
  <div class="fixed bottom-0 right-0 w-5/6 max-w-sm m-8 alert-toast md:w-full">
    <input type="checkbox" class="hidden" id="footertoast">
    <label class="flex items-start justify-between w-full h-24 p-2 toast-text <%= "#{bg_color}" %> rounded shadow-lg cursor-pointer close" title="close" for="footertoast">
      <%= message %>
      <i class="fas fa-times toast-cross"></i>
    </label>
  </div>
<% end %>