<div class="flex items-center justify-center mt-3 mb-6" >
  <a href="https://www.linkedin.com/in/thierry-jet-kombicode/">
    <i class="flex items-center justify-center w-8 h-8 mx-1 text-xl text-white bg-gray-300 rounded-full fill-current footer-social-linkedin fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/KombiCode">
    <i class="flex items-center justify-center w-8 h-8 mr-1 text-xl text-white bg-gray-300 rounded-full fill-current footer-social-github fab fa-github"></i>
  </a>
</div>
