<div class="flex items-center justify-center mt-3 mb-6" >
  <a href="https://www.linkedin.com/in/thierry-jet-kombicode/">
    <i class="flex items-center justify-center w-8 h-8 mx-1 text-xl text-white bg-gray-300 rounded-full fill-current footer-social-linkedin fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/KombiCode">
    <i class="flex items-center justify-center w-8 h-8 mr-1 text-xl text-white bg-gray-300 rounded-full fill-current footer-social-github fab fa-github"></i>
  </a>
  <a href="https://www.malt.fr/profile/thierryjet">
    <%= inline_svg_tag "malt-logo.svg", class: 'flex items-center justify-center w-8 h-8 mr-1 text-xl text-white bg-gray-300 rounded-full fill-current footer-social-malt' %>
  </a>
  <a href="https://www.upwork.com/freelancers/~01e6de02360b6c3193?viewMode=1">
    <%= inline_svg_tag "upwork-icon.svg", class: 'flex items-center justify-center w-8 h-8 mr-1 text-xl text-white bg-gray-300 rounded-full fill-current footer-social-upwork' %>
  </a>
</div>
