<div class="mt-6 flex items-center justify-center" >
  <a href="https://github.com/KombiCode">
    <i class="footer-social-github bg-gray-300 flex items-center justify-center h-8 w-8 mr-1 rounded-full fab fill-current text-white text-xl fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/thierry-jet-kombicode/">
    <i class="footer-social-linkedin bg-gray-300 flex items-center justify-center h-8 w-8 mx-1 rounded-full fab fill-current text-white text-xl fa-linkedin-in"></i>
  </a>
</div>
