.footer-social-github {
  &:hover {
    background: black;
  }
}
.footer-social-linkedin {
  &:hover {
    background: #0a66c2;
  }
}
.footer-social-malt {
  &:hover {
    color: #9d261c;
    background: #e9e4c7;     
  }
}
